{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}ch-info.org{% endblock %}
{% block content %}
    <h1>CH-INFO.ORG</h1>



    <div class="container">
            <div class="row">

                {% if category %}
                    {% for post in category %}
                         <div class="col-md-8 col-sm-8">
                            <h2>
                                <a href="{{ post.get_absolute_url }}">
                                   <h2>{{ post.title }}</h2>
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}" width="300" height="300">
                                </a>

                            </h2>
                            <p class="date">
                                Published {{ post.publish }} by {{ post.author }}
                            </p>
                                {{ post.body|truncatechars:400|linebreaks }}
                        </div>

                    {% endfor %}
                     <div class="col-md-4 col-sm-4">
                            {% include 'partials/categories.html' %}
                     </div>

                {% else %}
                  {% for post in posts %}
                    <div class="col-md-8 col-sm-8">
                        <h2>
                            <a href="{{ post.get_absolute_url }}">
                               <h2>{{ post.title }}</h2>
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" width="300" height="300">
                            </a>

                        </h2>
                        <p class="date">
                            Published {{ post.publish }} by {{ post.author }}
                        </p>
                        {{ post.body|markdown|truncatechars:400|linebreaks }}

                    </div>

            {% endfor %}

                    <ul>
                        <h2> Hacker News </h2>
                        {% for entry in feed.entries|slice:":4" %}
                            <li>
                                <a href="{{entry.link}}">{{entry.title}}</a>
                            </li>

                        {% endfor %}
                    </ul>

             <!-- category file added -->
              <div class="col-md-4 col-sm-4">
                    {% include 'partials/categories.html' %}
              </div>

             {% if is_paginated %}
                {% include 'pagination.html' with page=posts %}

            {% endif %}

            {% endif %}

        </div>
    </div>
        <div class="container">
            <div class="row">
                <h6> Recent Articles </h6>
                <div class="col-md-6">
                     {% show_latest_posts 3 %}
                </div>
            </div>
        </div>
    {# .... **Now the pagination section** .... #}


{% endblock %}





